/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 700px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .50rem .75rem rgba(.05, .05, .05, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}
.footer{
    position:relative;;
    bottom:0;
    width:100%;
    white-space:nowrap;
    line-height:40px;
}



/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}


#menu {
    height: 41px;
    background: url(images/main-bg.png) repeat-x;
    color: #fff;
}

    #menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
        float: left;
        color: #fff;
    }

    #menu ul.menu {
            padding-left: 10px;
            color: #fff;
        }

    #menu li {
        position: relative;
        z-index: 9;
        margin: 0;
        padding: 0 5px 0 0;
        display: block;
        float: left;
        color: #fff;
    }

    .menu li:hover > ul {
            left: -2px;
        }

    .menu a {
        position: relative;
        z-index: 10;
        height: 41px;
        display: block;
        float: left;
        line-height: 41px;
        text-decoration: none;
        font: bold 12px Trebuchet MS;
        color: #fff;
    }

    .menu a:hover, div#menu a:hover span {
            color: brown;
        }

    .menu a:hover {
            color: brown;
        }

    #menu li.current a {
    }



    .menu span {
        display: block;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: 95% 0;
        color: #fff;
    }

    #menu ul ul a.parent span {
        background-position: 95% 8px;
        background-image: url(images/item-pointer.gif);
    }

    #menu ul ul a.parent:hover span {
        background-image: url(images/item-pointer-mover.gif);
    }*/

    /* menu::level1 */
    /*#menu a {
        padding: 0 10px 0 10px;
        line-height: 30px;
        color: #fff;
    }

    #menu span {
        margin-top: 5px;
        color: #fff;
    }

    #menu ul a:hover span {
        color: #333;
    }

    #menu ul ul span {*/
        /*color: rgb(169,169,169);*/
        /*color: #fff;
    }

    #menu ul ul a:hover span {*/
        /*color: rgb(218,219,222);*/
        /*color: #fff;
    }


    #menu li {
        background: url(images/main-delimiter.png) 98% 4px no-repeat;
    }

        #menu li.last {
            background: none;
        }*/

    /* menu::level2 */
    /*#menu ul ul li {
        background: none;
    }

    #menu ul ul {
        position: absolute;
        top: 38px;
        left: -999em;
        width: 250px;
        padding: 5px 0 0 0;
        background: rgb(45,45,45);
        margin-top: 1px;
        color: #fff;
    }

        #menu ul ul a {
            padding: 0 0 0 15px;
            height: auto;
            float: none;
            display: block;
            line-height: 24px;*/
            /*color: rgb(169,169,169);*/
            /*color: #fff;
        }

        #menu ul ul span {
            margin-top: 0;
            padding-right: 15px;
            _padding-right: 20px;*/
            /* color: rgb(169,169,169);*/
            /*color: #fff;
        }

        #menu ul ul a:hover span {
            color: #fff;
        }

        #menu ul ul li.last {
            background: none;
        }

        #menu ul ul li {
            width: 100%;
        }*/

        /* menu::level3 */
        /*#menu ul ul ul {
            padding: 0;
            margin: -38px 0 0 163px !important;
            margin-left: 172px;
            color: #fff;
        }*/

        /* colors */
        /*#menu ul ul ul {
            background: rgb(41,41,41);
        }

            #menu ul ul ul ul {
                background: rgb(38,38,38);
            }

            #menu ul ul ul ul {
                background: rgb(35,35,35);
            }*/

/* lava lamp */
/*#menu li.back {
    background: url(images/lava.png) no-repeat right -44px !important;
    background-image: url(images/lava.gif);
    width: 13px;
    height: 44px;
    z-index: 8;
    position: absolute;
    margin: -1px 0 0 -5px;
    color: #fff;
}

#menu li.back .left {
    background: url(images/lava.png) no-repeat top left !important;
    background-image: url(images/lava.gif);
    height: 44px;
    margin-right: 8px;
    color: #fff;
}


.btn-active {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 3px;
    color: #FFFFFF;
    background-color: #00CC00;
}

.btn-inactive {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 3px;
    color: #FFFFFF;
    background-color: #669999;
}*/

